
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    color: #101010;
    background: #f0f0f0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

h1, h2, h3, h4 {
    text-align: center;
}

a, a:visited {
    color: #101010;
    text-decoration: none;
}

.page-container {
    margin: auto;
    width: 100%;
    min-height: 100%;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.screen-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.tunables-container {
    font-size: smaller;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

canvas {
    display: block;
    background-color: black;
    width: 250px;
    height: 250px;
}

.stats-container {
    position: fixed;
    font-size: smaller;
    bottom: 0.2em;
    left: 0.5em;
    background: #c0c0c0;
    min-width: 15em;
    display: flex;
    flex-direction: column;
}

.stats-table {
    background: #c0c0c0;
}

.stats-table .name {
    text-align: right;
    padding-right: 0.5em;
    background: #c0c0c0;
}

.stats-table .value {
    width: 5em;
    text-align: left;
    background: #c0c0c0;
}

.stats-container.hidden .stats-table {
    display: none;
}

input[type=button].stats-close {
    width: 100%;
    min-height: 1.5em;
}

@media (min-width: 650px) {
    .page-container {
        width: 95%;
    }
    canvas {
        width: 500px;
        height: 500px;
    }
}

@media (min-width: 900px) {
    .page-container {
        width: 85%;
    }
    canvas {
        width: 750px;
        height: 750px;
    }
}

@media (min-width: 1200px) {
    .page-container {
        width: 100%;
    }
    .main-container {
        flex-direction: row;
    }
}

td.label {
    text-align: right;
    white-space: nowrap;
}

td.input {
    padding-left: 1em;
    padding-right: 1em;
}

td.input input {
    min-width: 15em;
}

td.output {
    text-align: left;
    min-width: 4em;
}

button, input[type=button] {
    width: 7em;
    min-height: 2.5em;
    cursor: pointer;
    background: #c0c0c0;
}

input[type=range] {
    min-width: 5em;
    width: 100%;
}

header {
    text-align: center;
}

footer {
    font-size: x-small;
    text-align: right;
    padding: 0.5em;
}

@media (prefers-color-scheme: dark) {
    * {
        color: #f0f0f0;
        background: #101010;
    }

    button, input[type=button], .stats-table, .stats-table .name, .stats-table .value {
        background: #303030;
    }

    a, a:visited {
        color: #f0f0f0;
    }
}
