body {
    margin: 0 0;
}

h1, h2, h3, h4 {
    text-align: center;
    font-weight: bold;
}

.container {
    margin: auto;
    width: 50%;
    text-align: left;
    line-height: 1.6;
    font-family: sans-serif;
}

canvas {
    margin: auto;
    display: block;
    background-color: black;
    width: 300px;
    height: 300px;
}

@media (min-width: 550px) {
    canvas {
        width: 400px;
        height: 400px;
    }
}

@media (min-width: 800px) {
    canvas {
        width: 600px;
        height: 600px;
    }
}

@media (min-width: 1200px) {
    canvas {
        width: 800px;
        height: 800px;
    }
}

td.label {
    text-align: right;
    white-space: nowrap;
}

td.input {
    padding-left: 1em;
    padding-right: 1em;
}

td.input input {
    min-width: 15em;
}

td.output {
    text-align: left;
}

td.pause {
    text-align: left;
}

td.reset {
    text-align: right;
}

button {
    min-width: 5em;
}

footer {
    margin: 5rem auto auto;
    width: 50%;
    text-align: center;
}

@media (max-width: 450px){

    .container {
        width: 300px;
    }

    .mobile {
        display: inline-block
    }
}
