body {
    margin: 0 0;
}

h1, h2, h3, h4 {
    text-align: center;
    font-weight: bold;
}

.container {
    margin: auto;
    width: 400px;
    text-align: left;
    line-height: 1.6;
    font-family: sans-serif;
    border: 1px;
}

canvas {
    margin: auto;
    display: block;
    background-color: black;
}

footer {
    margin: auto;
    margin-top: 5rem;
    width: 50%;
    text-align: center;

}

@media (max-width: 450px){
    canvas {
        width: 300px;
        height: 300px;
    }

    .container {
        width: 300px
    }
}